<footer class="footer">
    <!-- <p>&copy; {{site.username}}</p> -->
    <p>Made with <span class="love"><i class="fa fa-heart" aria-hidden="true"></i></span> by <a
            href="https://developerblogs.github.io">Sajan Basnet</a></p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src={% link /assets/js/sweet-scroll.min.js %}></script>
<script src={% link /assets/js/main.js %}></script>
{% include google-analytics.html %}


<form style="border:1px solid #ccc;padding:3px;text-align:center;"
    action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
    onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=github/ZhPr', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <p>Enter your email address:</p>
    <p><input type="text" style="width:140px" name="email" /></p><input type="hidden" value="github/ZhPr"
        name="uri" /><input type="hidden" name="loc" value="en_US" /><input type="submit" value="Subscribe" />
    <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
</form>