<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href= {% link /assets/css/main.min.css %}>
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
  <script src={% link /assets/js/jquery.min.js %}></script>
  <script src={% link /assets/js/bootstrap.bundle.min.js %}></script>
</head>