{%- include head.html -%}
<link rel="stylesheet" href={% link /assets/css/bootstrap.min.css %}>
<link rel="stylesheet" href={% link /assets/css/clean-blog.min.css %}>

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success rounded btn-block text-center" data-toggle="modal" data-target="#modelId">
  :v: Subscribe To The Newsletter :v:
</button>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="p-3 border">
        <img class="card-img-top" src="https://image.freepik.com/free-vector/email-campaign-concept-illustration_114360-1633.jpg" alt="">
        <form class="text-center" action="https://github.us10.list-manage.com/subscribe/post?u=ffab2adfd6982e614ed9176d6&amp;id=7dbdf2e2ab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" rel="noreferrer" target="_blank" novalidate>
          <div class="p-1 m-1">
            <input type="text" class="form-control input-group text-center" style="height: 50px;" name="EMAIL"
              placeholder="Enter Your Email Address" id="mce-EMAIL" />
          </div>
          <div class="p-1 m-1">
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ffab2adfd6982e614ed9176d6_7dbdf2e2ab" tabindex="-1" value=""></div>
            <input type="submit" class="btn btn-outline-success btn-block rounded p-3" id="mc-embedded-subscribe" value="Subscribe" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $('#exampleModal').on('show.bs.modal', event => {
    var button = $(event.relatedTarget);
    var modal = $(this);
  });
</script>