---
layout: til
---
{% for post in site.categories.rails %}
  <div  class="post-preview">
    <div class="d-flex justify-content-between" id="accordion">
      <div class="small">
        <div>
          <span class="post_title_in_list">
            {{ post.title }}
          </span>
        </div>
      </div>
      <div>
        <button class='btn btn-outline-secondary btn-collapse' data-toggle="collapse" aria-expanded="true" data-target={{post.uniq_heading_id}} >
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div id={{post.uniq_body_id}} class="collapse" data-parent="#accordion">
      <span class="post-font">
        <p> {{ post.content }} </p>
      </span>
      <div class="pt-3">
        {% for tag in post.til_tags %}
          {% assign tag_url = tag | prepend: "/til/" %}
          <a href={{tag_url | prepend: site.baseurl }} class="mr-2 p-2 badge badge-light"><i class="devicon-{{tag}}-plain p-1 colored"></i>{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}

