.blog-post {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

.post-font {
  letter-spacing: -0.003em;
  word-break: break-word;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.foot-text {
  font-size: 18px;
}

.foot {
  padding: 20px;
}

blockquote {
  color: rgba(117, 117, 117, 1);
  font-style: normal;
}

.toc>ul {
  padding-left: 4px;
  color: white;
}

.toc>ul>li{
  border-bottom: 1px solid lightgray;
  padding: 4px;
}

.toc {
  border-radius: 4px;
  min-width: 20vh;
  max-height: 50vh;
  overflow-y: scroll;

}

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
background: #f3f3f1; 
  border:1px solid #ccc;
}

::-webkit-scrollbar-thumb {
background: #9b9595; 
  border:1px solid #eee;
  height:50px;
  border-radius:4px;
}

::-webkit-scrollbar-thumb:hover {
background: grey; 
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #1d232a;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  animation: bot-to-top 2s ease-out;
}
.my-float {
  font-size: 24px;
  margin-top: 18px;
}

@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .float {
    width: 30px;
    height: 30px;
  }

  .my-float {
    font-size: 12px;
    margin-top: 10px;
  }  
  .toc>ul>li{
    border-bottom: 1px solid lightgray;
    padding: 2px;
  }
}