{%- include head.html -%}
<link rel="stylesheet" href={% link /assets/css/bootstrap.min.css %}>
<link rel="stylesheet" href={% link /assets/css/clean-blog.min.css %}>
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link
  href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
  rel='stylesheet' type='text/css'>
<style>
  p {
    line-height: 1.5;
    margin: 1px 0;
    font-size: 24px;
  }

  .badge {
    font-size: 86%;
  }

  .badge-font {
    font-size: 18px;
    padding: 0px 11px;
  }

  .badge-font>.icons {
    font-size: 22px;
  }

  h1,
  h2,
  h3,
  h4,
  stong {
    font-size: 22px;
    margin-top: 1em;
    padding-top: 10px;
    line-height: 1.25;
    color: #495057;
  }

  .foot-text {
    font-size: 18px;
  }

  .foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  @media only screen and (max-width: 768px) {
    p {
      font-size: 15px;
    }

    .badge {
    font-size: 60%;
    }

    .badge-font {
      font-size: 15px;
      padding: 0px 0px;
    }

    .badge-font>.icons {
      font-size: 18px;
    }

    .foot-text {
      font-size: 14px;
    }

    .foot {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    stong {
      margin-top: 1em;
      padding-top: 10px;
      line-height: 1.25;
      color: #495057;
      font-size: 19px;
      font-weight: 600;
    }
  }
</style>
<!-- Page Header -->
<div class="nav" style="background-color: #1a222c;">
  <!-- <div class="overlay"></div> -->
  <div class="container-fluid">
    <div class="d-flex justify-content-around">
      <div class="">
        <div class="site-heading">
          <a href={{ '/blogs' | prepend: site.baseurl }}>
            <h2 style="color: snow; margin: 0px; padding: 10px;">DevBlogs</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="container" style="margin-bottom: 100px;">
  <div class="row m-lg-3 p-3">
    <div class="col-lg-12 col-md-12 mx-auto">
      <!-- <a href={{"" | prepend: site.tag_url }} class="m-2 p-2 badge badge-light badge-pill">
        {% if page.path == "blogs/index.html"%}
        {% assign active-tab_all = "badge-pill badge-info p-3 m-0" %}
      {% endif %}
        <p class="badge-font {{active-tab_all}} text-capitalize">:ledger: all</p>
      </a> -->
      {% for tag in site.tags %}
        <a href={{tag[0] | prepend: site.tag_url }} class="m-2 p-2 badge badge-light badge-pill">
          {% if tag[0] == "git" %}
            {% if page.path == "blogs/git/index.html"%}
              {% assign active-tab_git = "badge-pill badge-info p-3 m-0" %}
            {% endif %}
            <p class="badge-font {{active-tab_git}} text-capitalize"><i class="devicon-git-plain colored icons"></i> {{ tag[0] }}</p>
          {% elsif tag[0] == "programming" %}
            {% if page.path == "blogs/programming/index.html"%}
              {% assign active-tab_pro = "badge-pill badge-info p-3 m-0" %}
            {% endif %}
            <p class="badge-font {{active-tab_pro}} text-capitalize">:computer: {{ tag[0] }}</p>
          {% elsif tag[0] == "rails" %}
            {% if page.path == "blogs/rails/index.html"%}
              {% assign active-tab_rails = "badge-pill badge-info p-3 m-0" %}
            {% endif %}
            <p class="badge-font {{active-tab_rails}} text-capitalize"><i class="devicon-rails-plain colored"></i> {{ tag[0] }}</p>
          {% elsif tag[0] == "react" %}
            {% if page.path == "blogs/react/index.html"%}
              {% assign active-tab_react = "badge-pill badge-info p-3 m-0" %}
            {% endif %}
            <p class="badge-font {{active-tab_react}} text-capitalize"><i class="devicon-react-original colored"></i> {{ tag[0] }}</p>
          {% elsif tag[0] == "flutter" %}
            {% if page.path == "blogs/flutter/index.html"%}
              {% assign active-tab_fl = "badge-pill badge-info p-3 m-0" %}
            {% endif %}
            <p class="badge-font {{active-tab_fl}} text-capitalize"><i class="devicon-flutter-plain colored"></i> {{ tag[0] }}</p>
          {% elsif tag[0] == "security" %}
            {% if page.path == "blogs/security/index.html"%}
              {% assign active-tab_sec = "badge-pill badge-info p-3 m-0" %}
            {% endif %}
            <p class="badge-font {{active-tab_sec}} text-capitalize">:closed_lock_with_key: {{ tag[0] }}</p>
          {% else %}
            <p class="badge-font text-capitalize">{{ tag[0] }}</p>
          {% endif %}
        </a>
      {% endfor %}
      <a href="https://developerblogs.github.io/til" class="m-2 p-2 badge badge-light badge-pill border border-success">
        <p class="badge-font text-capitalize">:man_student: TIL</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      {% assign psize = site.posts | size %}
      {% if psize == 0 %}
        <div class="text-center">
          <img class="img-fluid rounded mx-auto d-block"
            src="https://image.freepik.com/free-vector/construction-graphic_45678-169.jpg" alt="">
        </div>
        <div class="text-center">
          <h5 class="">Sorry!!! No Post available yet</h5>
        </div>
      {% else %}
        {{content}}
        {% include pagination.html %}
      {% endif %}
    </div>
  </div>
</div>
</div>
<footer class="footer foot">
  <!-- <p>&copy; {{site.username}}</p> -->
  <span class="foot-text">Made with <span class="love"><i class="fa fa-heart" aria-hidden="true"></i></span>
    by <a href="https://developerblogs.github.io/">Sajan Basnet</a></span>
</footer>
{% include google-analytics.html %}
