<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="">
  <!-- Page Header -->
  <div class="nav" style="background-color: #1a222c; padding-bottom: 45px;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="color: snow;">My Blogs</h1>
            <span class="subheading" style="color: mintcream;">Hope it helps</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{content}}
  <hr>

  <!-- Footer -->
  {% include footer.html %}
</body>
</html>